:root {
  --primary-color : #282c34;
  --secondary-color : #61dafb;
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

html, body {
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navActive {
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  height: auto;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.nav__logo {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 5px 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  transition: .3s ease;
  font-size: 22px;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 100px 0;
  margin-bottom: 2000px;
}

.header__text {
  font-size: 60px;
  margin-top: 120px;
}

.header__typing {
  font-size: 50px;
  color: #fff;
}

button:focus {
  outline: none;
}

header button, nav button {
  font-size: 28px;
  padding: 15px 40px;
  margin-top: 110px ;
  border-radius: 2px;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: .3s ease;
}

header button:hover {
  background-color: #282c34;
  color: var(--secondary-color);
}

nav button {
  margin: 0 5px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 18px;
}

nav button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
