html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color:#D5D8DC;
    margin: 0px;
    padding: 0px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0px, 20px;
    align-items: center;
    flex-flow: row wrap;
}

.logo {
    font-size: 25px;
    transition: transform 0.25s ease;

}

.logo:hover {
    cursor: pointer;
    animation: logoMove 0.5s ease 
               infinite alternate ;
}

@keyframes logoMove {
    0% {
        transform: scale(1);
        color: #F4D03F;
    }

    100% {
        transform: scale(1.1);
    }
}

.nav-menu li {
    display: inline;
    list-style: none;
    word-spacing: 1.5rem;
    color:  #566573;
    font-weight: bold;
    transition: color 0.25s ease;
}

.nav-menu li:hover {
    color: #ABB2B9;
    cursor: pointer;
}

header {
    text-align: center;
    position: relatie;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&h=1000&q=80)
                no-repeat center;
    background-size: cover;
    height: 100vh;
}

header h1 {
    font-size: 200px; 
    animation: textHead 1s ease ;
    animation-fill-mode: forwards;
    font-weight: 10;
    color: white;
    margin-bottom: 0px;
}

@media screen and (max-width: 992px) {
    header h1 {
        font-size: 100px; 
    }

    header p {
        font-size: 30px;
    }

    header {
        height: 75vh;
    }
}


@media screen and (max-width: 576px) {
    header h1 {
        font-size: 60px; 
    }

    header {
        height: 50vh;
    }
}

@keyframes textHead {
    0% {
        opacity: 0;
        transform: translate(0px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

header p {
    animation: textPHead 1s ease 0.25s forwards;
    font-size: 60px;
    color: white;
    opacity: 0;
}

@keyframes textPHead {
    0% {
        opacity: 0;
        transform: translate(0px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}