html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #222222;
    padding: 5px 20px;
}

nav ul {
    list-style: none;
}

nav ul li { 
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px solid #444444;
}

/*? mobile menu */

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

/*? tablet */

@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }   

    .toggle {
        flex:1;
        text-align: right;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #dddddd;
    }
}

/*? desktop */

@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}